<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head.html"></head>
<body>
<!-- header 추가 -->
<div class="container">
	<div th:insert="common/header.html" id="header"></div>
	<div class="wrapper">


		<article class="table-list">
			<div class="inner">
				<div class="table-list-tit">담당자 관리
					<a th:href="${'/manager/reg'}" class="manager-add-btn">신규 등록</a>
				</div>

				<article class="search__form">
					<select>
						<option selected>담당자</option>
					</select>
					<input placeholder="검색어 입력">
					<a href="#none" class="search-btn">검색</a>
				</article>

				<table>
					<thead>
					<tr>
						<th>NO</th>
						<th>담당자</th>
						<th>등록일시</th>
						<th>메뉴</th>
					</tr>
					</thead>
					<tbody>

					<tr th:each="item : ${managerList}">
						<td th:text="${itemStat.count}">1</td>
						<td th:text="${item.managerNm}">신혜욱</td>
						<td th:text="${#temporals.format(item.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
						<td><a th:href="@{'/manager/edit/' + ${item.id}}" class="view-btn">상세보기</a></td>
					</tr>


					</tbody>
				</table>
				<article class="paging">
					<ul>
						<li th:each="pageNum : ${pageList}" th:inline="text">
							<a th:href="@{'/?page=' + ${pageNum}}">[[${pageNum}]]</a>
						</li>
						<!--						<li><a href="#none" class="current">1</a></li>-->
						<!--						<li><a href="#none">2</a></li>-->
						<!--						<li><a href="#none">3</a></li>-->
					</ul>
				</article>
			</div>
		</article>

	</div>
</div>


<!-- footer 추가 -->
<div th:insert="common/footer.html" id="footer"></div>


</body>
</html>